<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>🖲️ tender buttons</title>

    <meta name="description" content="{{ .Sentence }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <style>



      html {
        font-size: calc(75% + 2vw);
      }
      body {
        background: rgb(255,248,223);
        background: radial-gradient(circle, rgba(255,248,223,1) 0%, rgba(195,164,138,1) 35%, rgba(255,247,223,1) 100%); 
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 0;
      }

      form {
        max-width: 50%;
        margin: 0;
        padding: 0;
      }

      input {
        cursor: pointer;
        font-size: 1rem;
        margin-bottom: .25em;
        transition-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }

      {{/* @keyframes a1 {
        0% {
          transform: translate(0%, 0%);
        }

        100% {
          transform: translate(0%, 5%);
        }
      }

      @keyframes a2 {
        0% {
          transform: translate(0%, -5%);
        }

        100% {
          transform: translate(0%, 5%);
        }
      }

      @keyframes a3 {
        0% {
          transform: translate(0%, 5%);
        }

        100% {
          transform: translate(0%, 0%);
        }
      }


      input:nth-of-type(3n) {
        animation-duration: 5s;
        animation-name: a1;
      }

      input:nth-of-type(3n + 1) {
        animation-duration: 12s;
        animation-name: a2;
      }

      input:nth-of-type(3n + 2) {
        animation-duration: 6s;
        animation-name: a3;
      } */}}
    </style>
  </head>
  <body>

    <form method="post">
      {{- range $tok := .Tokens }}
      <input type="submit" name="token" value="{{ $tok }}" />
      {{- end}}
    </form>
    
  </body>
</html>
