<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>tender buttons</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/assets/styles.css" />

  </head>
  <body id="about">

    <form method="post" action="/">
      <input type="submit" name="tender" value="tender" />
      <input type="submit" name="buttons" value="buttons" />
    </form>
    <section class="about">
      {{ .Body }}
    </section>
    
  </body>
</html>
